.events {
  width: 100%;
  &__table {
    grid-template-columns: 0.5fr 50px 0.45fr 0.48fr 100px 200px;
    padding: 16.5px 0 16.5px 28px;
  }
  &__title {
    color: $black;
    @include textMedium(16);
    margin-bottom: 20px;
  }
  &__header {
    &-button-create {
      width: 100%;
      margin-top: 10px;
      @include primaryButton;
    }
    &-button-icon {
      stroke: $white;
      width: 14px;
      height: 14px;
    }
  }
  &__items {
    &:not(:last-child) {
      margin-bottom: 10px;
      @include tablet {
        margin-bottom: 3px;
      }
    }
  }
}
