.notes{
  transition: 0.4s;
  opacity: 0;
  transform: translateX(100%);
}
.notes-leave-active, .notes-leave-to {
  transition: 0.4s;
  opacity: 0;
  transform: translateX(100%);
}
.notes-enter-active, .notes-enter-to{
  opacity: 1;
  transform: translateX(0);
  transition: 0.4s;
}
