.lawsuit{
	&__input-container{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		gap: 10px;
	}
	&__input{
		width: 100%;
		&-label{
			@include textMedium(14);
      color: $black;
      margin-bottom: 14px;
      display: block;
		}
	}
}