.review__table{
  &-items{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    transition: all ease 0.4s;
    background-color: $white;
    padding: 20px 6px 12px;
    border-radius: 8px;
    &-container{
      position: relative;
    }
    &-swipe{
      @include tablet{
        display: none;
      }
    }
    &.move__left{
      transform: translateX(-72px);
    }
    &.move__right{
      transform: translateX(72px);
    }
    @include tablet{
      display: grid;
      grid-template-columns: 0.7fr 0.7fr 1fr 0.7fr 0.8fr 1.5fr;
      align-items: center;
      position: relative;
      background-color: $white;
      padding: 0;
      border-radius: 0;
    }
  }
  &-item{
    display: flex;
    flex-direction: column;
    color: $black;
    @include textMedium(12);
    @include tablet{
      padding: 19px 8px;
      display: block;
    }
    &::last-child{
      padding-right: 33px;
      border-bottom: none;
    }
    &-link{
      @include textMedium(12);
      color: $blue;
      text-decoration: underline;
      white-space: nowrap;
    }
    &-instance{
      display: none;
      @include tablet{
        display: block;
      }
    }
    &-span{
      @include textRegular(12);
      color: $gray;
      @include tablet{
        display: none;
      }
    }
    &-lawsuit{
      position: absolute;
      top: 28px;
      right: 16px;
      align-items: flex-end;
      @include tablet{
        position: relative;
        right: auto;
        top: auto;
      }
    }
    &-bodies{
      padding: 8px 10px;
      border-radius: 8px;
      background-color: $lightGreen;
      @include tablet{
        background-color: transparent;
        padding: 0;
        border-radius: 0;
      }
    }
    &-wide{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
  }
  &-menu{
    display: none;
    @include tablet{
      display: block;
      right: 17px;
      position: absolute;
    }
  }
  &-comment{
    padding-right: 30px;
  }
  &-comment .review__table-item-span,
  &-item-lawsuit .review__table-item-span,
  &-item-bodies .review__table-item-span{
    margin-bottom: 8px;;
  }
}
::v-deep(.dropdown__menu-top){
  right: -13px;
  bottom: auto;
  top: 26px;
}

::v-deep(.dropdown__menu-bottom){
  right: -13px;
  bottom: auto;
  top: 26px;
}

::v-deep(.dropdown__menu-top:after),
::v-deep(.dropdown__menu-bottom:before){
  position: absolute;
  content: '';
  top: -7px;
  right: 13px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 8px solid $white;
  transform: rotate(0deg);
}
