.table-head {
  width: 100%;
  display: none;
  @include tablet {
    display: grid;
    background-color: $white;
    border-radius: 8px;
    margin-bottom: 3px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 8px;
    &-span {
      color: $red;
      margin-left: 4px;
    }
    &-text {
      @include textMedium(12);
      color: $gray;
      white-space: nowrap;
    }
  }
  &-item:first-child {
    padding-left: 28px;
  }
}
