.table{
  width: 100%;
  &__header{
    display: none;
    @include tablet{
      display: grid;  
      background-color: $white;  
      border-radius: 8px;  
      box-shadow: 0px -2.5px 0px 0px $gray6 inset;  
      box-shadow: 0px -2.5px 0px 0px $gray6;  
      margin-bottom: 3px;
    }
		&-item{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding: 17px 8px;
			&-span{
				color: $red;
				margin-left: 4px
			}
			& .table__header-item-text{
				@include textMedium(12);
				color: $gray;
				margin: 0;
				white-space: nowrap;
			}
		}
		&-item:first-child{
			padding-left: 28px;
		}
	}

}
