.tooltip {
  position: absolute;
  bottom: -35px;
  right: 0;
  transform: translateX(45%);
  @include textRegular(12);
  background-color: $black;
  padding: 5px 10px;
  border-radius: 8px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease;

  &_visible {
    visibility: visible;
    opacity: 1;
    z-index: 400;
  }

  svg {
    display: flex;
    transform: rotate(180deg) translateX(50%);
    position: absolute;
    bottom: 60%;
    left: 50%;
    width: 24px;
    height: 24px;
    fill: $black;
    stroke: $black;
  }

  span {
    display: block;
    text-wrap: nowrap;
    color: $white;
  }
}
