$darkGreen: #469E63;
$green: #54B975;
$lightGreen: #E4F6E9;
$lightGreen2: #CFF1D9;
$lightGreen3: #ECF2EE;
$black: #141736;
$gray: #646D7A;
$gray2: #A5B4CB;
$gray3: #DDE2E9;
$gray4: #EEEEEF;
$gray5: #F5F5F5E5;
$gray6: #F5F5F5;
$white: #FFFFFF;
$darkRed: #D8320E;
$red: #F03810;
$bgRed: #FFF0ED;
$violet: #5335E2;
$blue: #2894F9;
$yellow: #FFB21E;
$blueLight: #E1F0FE;
$yellowLight: #FFF5E2;
$violetLight: #EBE7FF;
$grayUnderline: #E1E1E1;
$backgroundColor: #EBEBEB;
$shadow: 0px 22px 45.2px -4px #9F9F9F1F;
$shadow2: 0px -2px 9.3px -4px #9F9F9F26;
$shadow3: 1px 1px 6.6px 0px #00000029;
$shadow4: 0px 0px 16px 0px #9898B014;
$modalLayer: #141736B3;





