.events{
  width: 100%;
  @include tablet{
    width: 50%;
  }
  &__table{
    grid-template-columns: 1fr 104px;
   }
  &__title{
    color: $black;
    @include textMedium(16);
    margin-bottom: 20px;
  }
  &__header{
    &-button-create{
      width: 100%;
      margin-top: 10px;
      @include primaryButton;
      @include tablet {
        width: calc(100% - 28px);
      }
    }
    &-button-icon{
      stroke: $white;
      width: 14px;
      height: 14px;
    }  
    &-item{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 17px 8px;
      &-span{
        color: $red;
        margin-left: 4px
      }
      & .events__header-item-text{
        @include textMedium(12);
        color: $gray;
        margin: 0;
        white-space: nowrap;
      }
    }
    &-item:first-child{
      padding-left: 28px;
    }
  }
}
