.auth-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: $shadow;
  padding: 60px 38px 44px;
  background-color: $white;
  border-radius: 12px;
  color: $black;
  max-width: 451px;
  width: 100%;
  &__logo {
    margin: 0 auto 55px;
    position: relative;
    padding: 2px;
    border-bottom: 2px solid $green;
    @include textMedium(16);
  }
  &__code,
  &__login {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
    &-title {
      display: flex;
      margin-bottom: 18px;
      @include heading(18);
    }
    &-field {
      margin-bottom: 16px;
    }
    &-wrapper {
      position: relative;
      &-button {
        position: absolute;
        @include resetButton();
        top: 17px;
        right: 0;
        z-index: 2;
        fill: $gray;
        @include tablet {
          left: 318px;
        }
      }
    }
  }
  &__link {
    align-items: flex-start;
    margin: 2px 0 32px;
    @include textLink(14);
  }
  &__enter {
    margin-bottom: 14px;
    @include primaryButton;
  }
  &__registration {
    @include secondaryButton;
  }
  &__code {
    &-title {
      margin-bottom: 0;
    }
    &-description {
      display: flex;
      @include textRegular(14);
      margin: 8px 0 18px;
    }
    &-subtitle {
      margin: 2px 0 6px;
      color: $gray;
      @include centering;
      @include textRegular(14);
    }
    &-timer {
      gap: 6px;
      @include centering;
      margin-bottom: 32px;
    }
    &-time {
      @include textRegular(14);
    }
    &-resend {
      align-items: flex-start;
      margin: 2px 0 32px;
      @include textLink(14);
      @include resetButton;
      text-decoration: underline;
      @include centering;
    }
  }
  .notifications {
    margin-bottom: 32px;
  }
}