.swipe {
  &__wrapper {
    display: flex;
    position: absolute;
    top: 0;
    height: 100%;
    overflow: hidden;
    @include tablet {
      display: none;
    }

    &_place {
      &_left {
        left: 0;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;

        svg {
          left: 24px;
        }
      }
      &_right {
        right: 0;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;

        svg {
          right: 24px;
        }
      }
    }
  }

  &__btn {
    @include resetButton;
    @include centering;
    width: 90px;
    position: relative;

    &_type {
      &_edit {
        background-color: $blueLight;
      }
      &_remove {
        background-color: $bgRed;
      }
      &_user {
        background-color: $violetLight;
        svg {
          stroke: $violet;
        }
      }
      &_done {
        background-color: $lightGreen;
        svg {
          fill: $green;
        }
        width: 73px;
      }
      &_bookmark {
        background-color: $violetLight;
        svg {
          stroke: $violet;
        }
      }
      &_report-remove {
        background-color: $gray5;
        width: 73px;
      }

      &_report-add {
        background-color: $yellowLight;
        width: 73px;
      }
    }

    svg {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
