.table__content{
  &-default-left{
    top: 0;
    left: 80px;
    background-color: $violetLight;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    & svg{
      position: absolute;
      left: 24px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &-default-right{
    top: 0;
    right: 80px;
    background-color: $bgRed;
    border: none;
    z-index: 0;
    & svg{
      position: absolute;
      right: 24px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &-mobile{
    border: none;
    position: absolute;
    top: 0;
    width: 90px;
    height: 100%;
    @include tablet{
      display: none;
    }
    &-edit{
      left: 0;
      background-color: $blueLight;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      & svg{
        position: absolute;
        left: 24px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &-delete{
      right: 0;
      background-color: $bgRed;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      & svg{
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-50%);
      }
      &::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 10px;
        height: 80%;
        width: 1px;
        background-color: #F038104D;
        transform: translateY(-50%);
      }
    }
  }
}


