.planning {
  &__header {
    background-color: $white;
    padding: 17px 18px 17px 80px;
    margin-bottom: 3px;
    display: grid;
    grid-template-columns: (1fr 0.7fr 48px 200px 1fr);
    border-radius: 8px;
  }
  &__empty-message {
    background-color: $white;
    padding: 17px 18px;
    margin-bottom: 3px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: $black;
    @include textRegular(14);
  }
}
