.review__bodies{
  &-container{
    width: 100vw;
    height: calc(100Vh - 120px);
    overflow-y: auto;
    padding: 32px 16px;
    @include tablet{
      width: 586px;
      height: auto;
      padding: 32px 30px;
    }
  }
  &-input{
    margin-bottom: 24px;
  }
  &-textarea{
    margin-bottom: 32px;
  }
  &-save-button{
    @include primaryButton;
  }
}

