.events {
  &__container {
    position: relative;
    display: flex;
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0px -2.5px 0px 0px $gray6 inset;
    box-shadow: 0px -2.5px 0px 0px $gray6;
    padding: 12px 0 110px;
    margin-bottom: 3px;
    transition: all ease 0.5s;
    @include tablet {
      display: grid;
      grid-template-columns: 1.2fr 50px 1fr 1fr;
      padding: 0;
    }
    // свайп по горизонтали
    &.move__left {
      transform: translateX(-72px);
    }
    &-wrapper {
      position: relative;
    }
  }
  &__items {
    &:not(:last-child) {
      margin-bottom: 10px;
      @include tablet {
        margin-bottom: 3px;
      }
    }
  }
  &__input {
    padding-left: 12px;
    @include tablet {
      padding: 14px 8px 16px 28px;
    }
  }
  &__color {
    padding: 0 12px;
    @include tablet {
      padding: 14px 3px 16px;
    }
  }
  &__select {
    @include tablet {
      padding: 14px 8px 16px;
    }
    & .multiselect__tags {
      overflow: hidden;
      height: 52px;
      white-space: nowrap;
      display: flex;
      align-items: center;
      height: 52px;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.94px;
      text-align: left;
      padding: 14px 16px;
      box-sizing: border-box;
      background: $white;
      border: 1.4px solid $gray3;
      border-radius: 14px;
      color: $black;
      outline: none;
    }
    & .multiselect__placeholder {
      margin: 0;
      color: $gray;
    }
  }
  &__checkbox {
    cursor: pointer;
    color: $black;
    @include textRegular(14);
    @include checkbox;
    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 8px;
    }
    &-inner {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-right: 12px;
    }
  }
  &__checkbox.checked:after {
    left: 3px;
    top: 2px;
  }
  &__delete-button {
    display: none;
    @include tablet {
      display: block;
      border: none;
      background-color: transparent;
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 24px;
    }
  }
  &__delete-button svg {
    height: 24px;
    width: 24px;
  }
}

.select__input {
  &-label {
    margin-bottom: 8px;
    color: $black;
    @include textMedium(12);
    @include tablet {
      display: none;
      margin-bottom: 0;
    }
    & span {
      color: $red;
      margin-left: 3px;
    }
  }
  &-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    & .select__input {
      @include tablet {
        margin-right: 60px;
      }
    }
    &-days {
      left: 12px;
    }
    &-hours {
      right: 12px;
      & .events__select {
        margin-right: 0;
      }
    }
    &-days,
    &-hours {
      position: absolute;
      top: 105px;
      width: calc(50% - 22px);
      @include tablet {
        position: relative;
        top: 0;
        left: auto;
        right: auto;
        width: 100%;
      }
    }
    &-category {
      width: 100%;
    }
    &-category .select__input-label,
    &-color .select__input-label {
      padding-left: 12px;
    }
  }
}
