.modal {
  &__layer {
    height: 100vh;
    width: 100vw;
    background-color: $modalLayer;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow-y: scroll;
  }
  &__wrapper {
    background-color: $white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    box-shadow: $shadow;
    @include tablet {
      width: auto;
      height: auto;
      border-radius: 16px;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &.empty-header {
      width: auto;
      height: auto;
      border-radius: 16px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
